<ion-modal-view>
  <div class="bar bar-header">
    <h1 class="title">New Chat</h1>
    <button class="button button-clear" ng-click="closeModal()">Cancel</button>
  </div>
  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
  </div>
  <ion-content has-subheader="true">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="contact in contacts | filter:contactFilter" type="item-text-wrap" href="#/tab/chats/{{contact.id}}">
        <img ng-src="{{contact.face}}">
        <h2>{{contact.name}}</h2>
        <ion-option-button class="button-assertive" ng-click="remove(contact)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-modal-view>
