<ion-view>
  <ion-header-bar align-title="center" class="bar-header">
    <h1 class="title">Settings</h1>
  </ion-header-bar>
  <ion-content>

		<div class="list card">

		  <a href="#" class="item item-icon-right">
		    About
		  </a>

		  <a href="#" class="item item-icon-right">
		    Tell a Friend
		  </a>

		</div>

		<div class="list card">

		  <a href="#" class="item item-icon-right">
		    Profile
		  </a>

		  <a href="#" class="item item-icon-right">
		    Account
		  </a>

		  <a href="#" class="item item-icon-right">
		  	Chat Settings
		  </a>

		  <a href="#" class="item item-icon-right">
		    Notification
		  </a>
		</div>

		</div>

		<div class="card list">
			<ion-toggle  ng-model="settings.enableFriends">
	        	Network Status
	    	</ion-toggle>
		</div>

		<div class="list card">

		  <a href="#" class="item item-icon-right">
		    Archive All Chats
		  </a>

		  <a href="#" class="item item-icon-right">
		    Clear All Chats
		  </a>

		</div>
  </ion-content>
</ion-view>
